:root{
    --primarycolor: #7cadf9;
    --secundarycolor: #1c4c96;
    --ferreteriacolor: #f0c669;
    --secundaryferreteriacolor:#ef7614;
    --buloneriacolor: #ec4545;
    --secundarybuloneriacolor:red;
    --rodamientoscolor: #bee4b4;
    --secundaryrodamientoscolor: #5fba46
}